.navbar {
  width: 100%;
  padding: 1em;
  position: fixed;
  top: 0;
  background-color: #e2e2e2;
  -webkit-box-shadow: 0px 0px 3px #9e9e9e;
          box-shadow: 0px 0px 3px #9e9e9e;
  z-index: 2;
}

body.dark .navbar {
  background-color: #222;
}

.navbar .active {
  background-color: #e9e8e8;
  padding: 50px;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* interfaz de usuario */
}

.navbar .nav-menu .interfaz-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 0px 20px;
  /* boton de dark mode */
}

.navbar .nav-menu .interfaz-user li {
  list-style: none;
  margin: 0px 20px;
}

.navbar .nav-menu .interfaz-user li .usuario {
  text-decoration: none;
  color: black;
}

body.dark .navbar .nav-menu .interfaz-user li .usuario {
  color: white;
  text-decoration: none;
}

.navbar .nav-menu .interfaz-user li .usuario i {
  font-size: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.navbar .nav-menu .interfaz-user li .usuario i:hover {
  color: #2587c8;
}

.navbar .nav-menu .interfaz-user .dark-mode {
  border: none;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  background-color: #000000;
  font-size: 15px;
  padding: 5px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  margin: 0px 20px;
}

.navbar .nav-menu .interfaz-user .dark-mode:hover {
  background-color: #3d3d3d;
}

body.dark .navbar .nav-menu .interfaz-user .dark-mode {
  background-color: white;
  color: #000000;
}

body.dark .navbar .nav-menu .interfaz-user .dark-mode:hover {
  background-color: #3d3d3d;
  color: white;
}

.navbar .nav-menu .contenedor-nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* logo */
  /* lista del menu */
}

.navbar .nav-menu .contenedor-nav-menu .h2-brand {
  padding: 15px;
  background-color: #222;
  border-radius: 50px;
  font-size: 30px;
  margin-left: 30px;
  color: white;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.navbar .nav-menu .contenedor-nav-menu .h2-brand:hover {
  background-color: #a4c8eb;
}

body.dark .navbar .nav-menu .contenedor-nav-menu .h2-brand {
  background-color: #3d3d3d;
  color: #ffffff;
  text-shadow: 0px 0px 3px #131313, 1px 1px 3px #0f0f0f;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

body.dark .navbar .nav-menu .contenedor-nav-menu .h2-brand:hover {
  background-color: #a4c8eb;
}

.navbar .nav-menu .contenedor-nav-menu .h2-brand .c1 {
  text-decoration: none;
  color: #1aa4ce;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .navbar .nav-menu .contenedor-nav-menu .h2-brand .c1 {
  text-shadow: 0px 0px 3px #1b1b1b, 1px 1px 3px #202020;
}

.navbar .nav-menu .contenedor-nav-menu .h2-brand .c2 {
  color: #9b3333;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .navbar .nav-menu .contenedor-nav-menu .h2-brand .c2 {
  text-shadow: 0px 0px 5px #222222;
}

.navbar .nav-menu .contenedor-nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu .contenedor-nav-menu ul li {
  list-style: none;
  font-size: 20px;
  margin: 0px 10px;
}

.navbar .nav-menu .contenedor-nav-menu ul li .nav-a {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 10px;
  text-decoration: none;
  color: black;
  -webkit-transition: 300ms;
  transition: 300ms;
}

body.dark .navbar .nav-menu .contenedor-nav-menu ul li .nav-a {
  background-color: #3d3d3d;
  color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

body.dark .navbar .nav-menu .contenedor-nav-menu ul li .nav-a:hover {
  width: 20px;
  height: 30px;
  background-color: #e2e2e2;
  border-radius: 15px;
  color: #202020;
}

.navbar .nav-menu .contenedor-nav-menu ul li .nav-a:hover {
  width: 20px;
  height: 30px;
  background-color: #131313;
  border-radius: 15px;
  color: white;
}

.home-sect {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: fixed;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home-sect .home-inicio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
}

.home-sect .home-inicio .textos-anim-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  border-radius: 10px;
  font-size: 30px;
  font-family: sans-serif;
  line-height: 40px;
  font-weight: 800;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
  overflow: hidden;
}

.home-sect .home-inicio .textos-anim-home .b1 {
  color: #289be7;
}

.home-sect .home-inicio .textos-anim-home ul {
  list-style: none;
  padding-left: 10px;
  -webkit-animation: cambiar 9s infinite;
          animation: cambiar 9s infinite;
}

.home-sect .home-inicio .textos-anim-home .h1-anim {
  font-size: 40px;
}

.home-sect .home-inicio .textos-anim-home ul, .home-sect .home-inicio .textos-anim-home h1 {
  margin: 0;
  font-size: 40px;
  font-family: sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 10px #222, 2px 2px 10px #333, 2px 2px 10px #222;
}

@-webkit-keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: -0;
  }
}

@keyframes cambiar {
  0% {
    margin-top: 0;
  }
  20% {
    margin-top: 0;
  }
  25% {
    margin-top: -40px;
  }
  50% {
    margin-top: -40px;
  }
  55% {
    margin-top: -80px;
  }
  80% {
    margin-top: -80px;
  }
  85% {
    margin-top: -40px;
  }
  95% {
    margin-top: -40px;
  }
  100% {
    margin-top: -0;
  }
}

.home-sect .home-inicio .button-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.home-sect .home-inicio .button-home h2 {
  font-size: 50px;
  font-family: sans-serif;
  font-weight: 800;
  color: white;
  border-radius: 10px;
  padding: 15px;
  margin: 40px 0px;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

.home-sect .home-inicio .button-home a {
  padding: 15px;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-size: 40px;
  background-color: #00a2ff;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.home-sect .home-inicio .button-home a:hover {
  background-color: #0077ff;
  font-size: 35px;
  padding: 20px;
  margin: 10px;
}

.categoria {
  background-color: #e2e2e2;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

body.dark .categoria {
  background-color: #3d3d3d;
  color: white;
}

.categoria .h2-cate {
  font-size: 2em;
  color: white;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  margin: 0px 10px;
}

.categoria .cate-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categoria .cate-menu li {
  list-style: none;
  margin: 0px 10px;
  padding: 15px;
}

.categoria .cate-menu li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #00a2ff;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.categoria .cate-menu li a:hover {
  background-color: #0077ff;
}

.sect-productos {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.685);
}

body.dark .sect-productos {
  background-color: rgba(34, 34, 34, 0.808);
}

.sect-productos h1 {
  text-align: center;
  margin-top: 3px;
  line-height: 0.8;
  margin-left: 18px;
  font-family: sans-serif;
  font-size: 40px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos h1 .c1 {
  color: #1aa4ce;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .sect-productos h1 .c1 {
  text-shadow: 0px 0px 3px #1b1b1b, 1px 1px 3px #202020;
}

.sect-productos h1 .c2 {
  color: #9b3333;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .sect-productos h1 .c2 {
  text-shadow: 0px 0px 5px #222222;
}

.sect-productos h1 .c3 {
  color: white;
  border-radius: 30px;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .sect-productos h1 .c3 {
  color: #ffffff;
  text-shadow: 0px 0px 3px #131313, 1px 1px 3px #0f0f0f;
}

.sect-productos hr {
  margin: 10px;
}

.sect-productos .products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sect-productos .products-box .box-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sect-productos .products-box .box-p .productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark .sect-productos .products-box .box-p .productos {
  background-color: #333;
}

.sect-productos .products-box .box-p .productos .tituloproduct {
  line-height: 2;
  font-family: sans-serif;
  font-size: 25px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos .products-box .box-p .productos .imgproduct {
  width: 400px;
  height: 350px;
}

.sect-productos .products-box .box-p .productos .peso {
  font-size: 20px;
  position: relative;
  top: 32px;
  width: 22%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #eceaea;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body.dark .sect-productos .products-box .box-p .productos .peso {
  color: #ffffff;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos .products-box .box-p .productos .precio {
  line-height: 2;
  font-family: sans-serif;
  font-size: 20px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos .products-box .box-p .productos .precio::before {
  content: "$";
}

.sect-productos .products-box .box-p .productos .envio {
  margin: 5px 0px;
  line-height: 1;
  font-family: sans-serif;
  font-size: 20px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos .products-box .box-p .productos .envio i {
  color: #0f0f0f;
  text-shadow: none;
}

body.dark .sect-productos .products-box .box-p .productos .envio i {
  color: white;
}

.sect-productos .products-box .box-p .productos .stars .star {
  color: #dbcf25;
}

.sect-productos .products-box .box-p .productos .btnbuy {
  margin: 10px;
  border: none;
  color: white;
  background-color: #2988c7;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sect-productos .products-box .box-p .productos .btnbuy:hover {
  background-color: #0077ff;
}

.sect-productos .products-box .box-p .productos .btnvermas {
  margin: 10px;
  border: none;
  color: white;
  background-color: #2988c7;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sect-productos .products-box .box-p .productos .btnvermas:hover {
  background-color: #0077ff;
}

.submenu {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.submenu:hover {
  color: #2587c8;
}

.submenu i {
  font-size: 30px;
}

.submenu #contador-total {
  font-size: 15px;
  background-color: #008cff;
  padding: 2px 3px;
  border-radius: 20px;
  color: white;
}

body.dark .submenu #contador-total {
  color: white;
}

.submenu #carrito-menu {
  display: none;
}

.submenu:hover #carrito-menu {
  display: block;
  position: absolute;
  right: -80px;
  color: white;
  top: 100%;
  bottom: 10px;
  z-index: 1;
  margin: 5px auto;
  padding: 20px;
  min-height: 420px;
  min-width: 780px;
  background-color: rgba(29, 27, 27, 0.815);
  border-radius: 10px;
}

body.dark .submenu:hover #carrito-menu {
  background-color: rgba(125, 125, 125, 0.87);
}

.submenu:hover #carrito-menu .table {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.submenu:hover #carrito-menu .table .th-1 {
  padding: 10px;
  color: #e4e4e4;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  background-color: #333333;
  border-radius: 20px;
  width: 30%;
  line-height: 1;
}

.submenu:hover #carrito-menu .table .btnsuma {
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 30px;
  height: 20px;
  color: #ffffff;
  background-color: #1c78ce;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.submenu:hover #carrito-menu .table .btnsuma:hover {
  background-color: #00a2ff;
}

.submenu:hover #carrito-menu .table .btnresta {
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 30px;
  height: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  background-color: #e94b4b;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.submenu:hover #carrito-menu .table .btnresta:hover {
  background-color: #eb1c1c;
}

.submenu:hover #carrito-menu .table .btn-vaciar {
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 2px;
  width: 90px;
  font-family: sans-serif;
  font-weight: 600;
  height: 35px;
  font-size: 15px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  background-color: #e94b4b;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.submenu:hover #carrito-menu .table .btn-vaciar:hover {
  background-color: #eb1c1c;
}

.submenu:hover #carrito-menu .table .btn-finalizar {
  border-radius: 5px;
  border: none;
  text-align: center;
  padding: 2px;
  width: 120px;
  font-family: sans-serif;
  font-weight: 600;
  height: 40px;
  font-size: 15px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  background-color: #1c78ce;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.submenu:hover #carrito-menu .table .btn-finalizar:hover {
  background-color: #00a2ff;
}

.submenu:hover #carrito-menu .table .th-2 {
  position: relative;
  top: 120px;
  left: 250px;
}

.submenu:hover #carrito-menu .table #item {
  position: relative;
  top: 15px;
}

.submenu:hover #carrito-menu .table #footer {
  position: relative;
  top: 25px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* scroll-website */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #289be7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #289be7;
}

::-webkit-scrollbar-track {
  background: #626262;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #f0f0f0;
          box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #cccaca;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
  background: -webkit-gradient(linear, left top, right top, from(black), to(rgba(61, 101, 134, 0))), url(../img/fondoback.jpg);
  background: linear-gradient(to right, black, rgba(61, 101, 134, 0)), url(../img/fondoback.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

body.dark {
  background-color: #333;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}

footer {
  width: 100%;
  background-color: #141414;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
  font-weight: 700;
}

footer .pie-pagina {
  background-color: #212427;
  padding: 15px 10px;
  text-align: center;
  color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

footer .pie-pagina:hover {
  color: #008cff;
}

footer .pie-pagina small {
  font-size: 20px;
}

footer .footer-info {
  display: -ms-grid;
  display: grid;
  margin: auto;
  -ms-grid-columns: (minmax(15rem, 3fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(15rem, 3fr));
  grid-gap: 50px;
  padding: 60px 0px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-info .h2-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  margin: 0 auto;
  padding: 15px;
  background-color: #2e2d2d;
  border-radius: 50px;
  font-size: 30px;
  color: white;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

footer .footer-info .h2-brand:hover {
  background-color: #a4c8eb;
}

body.dark footer .footer-info .h2-brand {
  background-color: #3d3d3d;
  color: #ffffff;
  text-shadow: 0px 0px 3px #131313, 1px 1px 3px #0f0f0f;
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

body.dark footer .footer-info .h2-brand:hover {
  background-color: #a4c8eb;
}

footer .footer-info .h2-brand .c1 {
  text-decoration: none;
  color: #1aa4ce;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark footer .footer-info .h2-brand .c1 {
  text-shadow: 0px 0px 3px #1b1b1b, 1px 1px 3px #202020;
}

footer .footer-info .h2-brand .c2 {
  color: #9b3333;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark footer .footer-info .h2-brand .c2 {
  text-shadow: 0px 0px 5px #222222;
}

footer .footer-info .text-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
}

footer .footer-info .text-footer h2 {
  color: #78b7f1;
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

footer .footer-info .text-footer p {
  text-align: center;
  margin-right: 10px;
  color: #e6f0f8;
  font-size: 15px;
}

footer .footer-info .redes {
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  text-decoration: none;
}

footer .footer-info .redes h2 {
  margin-bottom: 10px;
  color: #78b7f1;
  font-size: 25px;
}

footer .footer-info .redes .fa-instagram {
  color: #ee2763;
  font-size: 20px;
  text-decoration: none;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer .footer-info .redes .fa-instagram:hover {
  color: #f87b06;
}

footer .footer-info .redes .fa-github {
  color: white;
  margin: 10px 0px;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer .footer-info .redes .fa-github:hover {
  color: #b6cbdf;
}

footer .footer-info .redes a {
  text-decoration: none;
  color: white;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

footer .footer-info .redes a:hover {
  color: #1a7dda;
}

footer .footer-info .redes a .fa-envelope {
  font-size: 20px;
  color: cornflowerblue;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */