.navbar {
  background-color: #e2e2e2;
  -webkit-box-shadow: 0px 0px 3px #9e9e9e;
          box-shadow: 0px 0px 3px #9e9e9e;
}

body.dark .navbar {
  background-color: #222;
}

.navbar .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .nav-menu .interfaz-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 10%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.navbar .nav-menu .interfaz-user .carrito {
  margin-right: 20px;
  padding: 5px;
  width: 15%;
}

.navbar .nav-menu .interfaz-user .mode-dark .box-mode .dark-mode {
  margin-right: 10px;
  border: none;
  color: white;
  font-family: sans-serif;
  font-weight: 800;
  border-radius: 10px;
  cursor: pointer;
  background-color: #1276b8;
  font-size: 15px;
  padding: 5px;
}

.navbar .nav-menu .interfaz-user .usuario {
  margin-right: 10px;
  padding: 5px;
}

.navbar .nav-menu .interfaz-user .usuario a {
  text-decoration: none;
  color: black;
}

body.dark .navbar .nav-menu .interfaz-user .usuario a {
  color: white;
  text-decoration: none;
}

.navbar .nav-menu .interfaz-user .usuario a i {
  font-size: 30px;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.navbar .nav-menu .interfaz-user .usuario a i:hover {
  color: #2587c8;
}

.navbar .nav-menu .h2-brand {
  padding: 15px;
  background-color: #222;
  border-radius: 50px;
  font-size: 30px;
  margin-left: 30px;
  color: white;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .navbar .nav-menu .h2-brand {
  background-color: #3d3d3d;
  color: #ffffff;
  text-shadow: 0px 0px 3px #131313, 1px 1px 3px #0f0f0f;
}

.navbar .nav-menu .h2-brand .c1 {
  text-decoration: none;
  color: #1aa4ce;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .navbar .nav-menu .h2-brand .c1 {
  text-shadow: 0px 0px 3px #1b1b1b, 1px 1px 3px #202020;
}

.navbar .nav-menu .h2-brand .c2 {
  color: #9b3333;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .navbar .nav-menu .h2-brand .c2 {
  text-shadow: 0px 0px 5px #222222;
}

.navbar .nav-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 10px;
  margin-right: 750px;
}

.navbar .nav-menu ul li {
  list-style: none;
  font-size: 20px;
}

.navbar .nav-menu ul li .nav-a {
  background-color: #f2f2f2;
  border-radius: 50px;
  padding: 10px;
  text-decoration: none;
  color: black;
  -webkit-transition: 300ms;
  transition: 300ms;
}

body.dark .navbar .nav-menu ul li .nav-a {
  background-color: #3d3d3d;
  color: white;
  -webkit-transition: 300ms;
  transition: 300ms;
}

body.dark .navbar .nav-menu ul li .nav-a:hover {
  width: 20px;
  height: 30px;
  background-color: #e2e2e2;
  border-radius: 15px;
  color: #202020;
  margin: 5px;
}

.navbar .nav-menu ul li .nav-a:hover {
  width: 20px;
  height: 30px;
  background-color: #131313;
  border-radius: 15px;
  color: white;
  margin: 5px;
}

.productos-backg {
  width: 70%;
  margin: 10px auto;
  background-color: #e2e2e2;
  border-radius: 20px;
  padding: 5px;
}

body.dark .productos-backg {
  background-color: #222;
}

.productos-backg .categoria {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 15px;
}

.productos-backg .categoria .h2-cate {
  margin-top: 3px;
  line-height: 0.8;
  margin-left: 18px;
  font-family: sans-serif;
  font-size: 40px;
  color: #f3efef;
  -webkit-text-decoration: solid;
          text-decoration: solid;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

.productos-backg .categoria .cate-menu {
  margin: 10px;
  padding: 5px;
}

.productos-backg .categoria .cate-menu ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productos-backg .categoria .cate-menu ul li {
  margin: 0px 10px;
  list-style: none;
}

.productos-backg .categoria .cate-menu ul li a {
  margin: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: white;
  margin-top: 25px;
  padding: 10px 20px;
  background-color: #3b8dc3;
  border: none;
  border-radius: 50px;
  -webkit-box-shadow: 1px 3px 11px -5px #15e9f8;
          box-shadow: 1px 3px 11px -5px #15e9f8;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.productos-backg .categoria .cate-menu ul li a:hover {
  margin: 0px 4px;
  background: rgba(6, 212, 249, 0.924);
  border-radius: 15px;
}

.sect-productos {
  margin: 10px auto;
  padding: 30px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.685);
  border-radius: 10px;
}

body.dark .sect-productos {
  background-color: rgba(34, 34, 34, 0.808);
}

.sect-productos h1 {
  text-align: center;
  margin-top: 3px;
  line-height: 0.8;
  margin-left: 18px;
  font-family: sans-serif;
  font-size: 40px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos h1 .c1 {
  color: #1aa4ce;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .sect-productos h1 .c1 {
  text-shadow: 0px 0px 3px #1b1b1b, 1px 1px 3px #202020;
}

.sect-productos h1 .c2 {
  color: #9b3333;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .sect-productos h1 .c2 {
  text-shadow: 0px 0px 5px #222222;
}

.sect-productos h1 .c3 {
  color: white;
  border-radius: 30px;
  text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
}

body.dark .sect-productos h1 .c3 {
  color: #ffffff;
  text-shadow: 0px 0px 3px #131313, 1px 1px 3px #0f0f0f;
}

.sect-productos hr {
  margin: 10px;
}

.sect-productos .products-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sect-productos .products-box .box-p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.sect-productos .products-box .box-p .productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body.dark .sect-productos .products-box .box-p .productos {
  background-color: #333;
}

.sect-productos .products-box .box-p .productos .tituloproduct {
  line-height: 2;
  font-family: sans-serif;
  font-size: 25px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos .products-box .box-p .productos .imgproduct {
  width: 400px;
  height: auto;
}

.sect-productos .products-box .box-p .productos .peso {
  position: relative;
  top: 29px;
  width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.sect-productos .products-box .box-p .productos .precio {
  line-height: 2;
  font-family: sans-serif;
  font-size: 20px;
  color: #f3efef;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.sect-productos .products-box .box-p .productos .btnbuy {
  border: none;
  color: white;
  background-color: #2988c7;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.sect-productos .products-box .box-p .productos .btnbuy:hover {
  background-color: #28a1f1;
}

.carrito .submenu {
  position: relative;
  cursor: pointer;
  -webkit-transition: all 300ms;
  transition: all 300ms;
}

.carrito .submenu:hover {
  color: #2587c8;
}

.carrito .submenu i {
  font-size: 30px;
  margin: -20px;
}

.carrito .submenu #contador-total {
  font-size: 15px;
  background-color: #008cff;
  padding: 0px 3px;
  border-radius: 20px;
  color: white;
  margin-left: 5px;
}

body.dark .carrito .submenu #contador-total {
  color: black;
}

.carrito .submenu #carrito-menu {
  display: none;
}

.carrito .submenu:hover #carrito-menu {
  display: block;
  position: absolute;
  right: -80px;
  color: white;
  top: 100%;
  bottom: 10px;
  z-index: 1;
  margin: 5px auto;
  padding: 20px;
  min-height: 400px;
  min-width: 780px;
  background-color: rgba(29, 27, 27, 0.746);
  border-radius: 10px;
}

body.dark .carrito .submenu:hover #carrito-menu {
  background-color: rgba(125, 125, 125, 0.705);
}

.carrito .submenu:hover #carrito-menu .table {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: white;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
}

.carrito .submenu:hover #carrito-menu .table .th-1 {
  padding: 10px;
  color: #e4e4e4;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  background-color: #333333;
  border-radius: 20px;
  width: 30%;
  line-height: 1;
}

.carrito .submenu:hover #carrito-menu .table .btnsuma {
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 30px;
  height: 20px;
  color: #ffffff;
  background-color: #1c78ce;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.carrito .submenu:hover #carrito-menu .table .btnsuma:hover {
  background-color: #00a2ff;
}

.carrito .submenu:hover #carrito-menu .table .btnresta {
  border-radius: 5px;
  border: none;
  text-align: center;
  width: 30px;
  height: 20px;
  color: #ffffff;
  text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
  background-color: #e94b4b;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  cursor: pointer;
}

.carrito .submenu:hover #carrito-menu .table .btnresta:hover {
  background-color: #eb1c1c;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* scroll-website */
::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: #289be7;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #289be7;
}

::-webkit-scrollbar-track {
  background: #626262;
  border-radius: 0px;
  -webkit-box-shadow: inset 0px 0px 0px 0px #f0f0f0;
          box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #cccaca;
  color: black;
  font-family: sans-serif;
  font-weight: 600;
  -webkit-transition: .3 ease all;
  transition: .3 ease all;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.924)), to(rgba(11, 53, 88, 0.637))), url(../img/fondoback.jpg);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.924), rgba(11, 53, 88, 0.637)), url(../img/fondoback.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
  background-size: cover;
}

body.dark {
  background-color: #333;
  color: white;
  font-family: sans-serif;
  font-weight: 600;
}
/*# sourceMappingURL=main.css.map */