.sect-productos{
    padding: 30px;
    width: 100%;
    background-color: hsla(0, 0%, 100%, 0.685);
    border-radius: 10px;
    body.dark &{
        background-color: rgba(34, 34, 34, 0.808);
    }
    h1{
        text-align: center;
        margin-top: 3px;
        line-height: 0.8;
        margin-left: 18px;
        font-family: sans-serif;
        font-size: 40px;
        color: #f3efef;
        text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
        .c1{
            color: rgb(26, 164, 206);
            text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
            body.dark &{
                text-shadow: 0px 0px 3px #1b1b1b, 1px 1px 3px #202020;
            }
        }
        .c2{
            color: rgb(155, 51, 51);
            text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
            body.dark &{
                text-shadow: 0px 0px 5px #222222;
            }
        }
        .c3{
            color: white;
            border-radius: 30px;
            text-shadow: 2px 2px 5px #222, 2px 2px 5px #333, 2px 2px 5px #222;
            body.dark &{
                color: #ffffff;
                text-shadow: 0px 0px 3px #131313, 1px 1px 3px #0f0f0f,;
            }
        }
    }
    hr{
        margin: 10px;
    }
    .products-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .box-p{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .productos{
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #f2f2f2;
                border-radius: 10px;
                padding: 10px;
                margin: 10px;
                align-items: center;
                body.dark &{
                    background-color: #333;
                }
                .tituloproduct{
                    line-height: 2;
                    font-family: sans-serif;
                    font-size: 25px;
                    color: #f3efef;
                    text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
                }
                .imgproduct{
                    width: 400px;
                    height: 350px;
                }
                .peso{
                    font-size: 20px;
                    position: relative;
                    top: 32px;
                    width: 22%;
                    display: flex;
                    color: #eceaea;
                    text-shadow:  2px 2px 5px #222,  2px 2px 5px #333;
                    flex-direction: row;
                    body.dark &{
                        color: #ffffff;
                        text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
                    }
                }
                .precio{
                    line-height: 2;
                    font-family: sans-serif;
                    font-size: 20px;
                    color: #f3efef;
                    text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
                    &::before{
                        content: "$";
                    }
                }
                .envio{
                    margin: 5px 0px;
                    line-height: 1;
                    font-family: sans-serif;
                    font-size: 20px;
                    color: #f3efef;
                    text-shadow: 2px 2px 5px #222,  2px 2px 5px #333;
                    i{
                        color: #0f0f0f;
                        text-shadow: none;
                        body.dark &{
                            color: white;
                        }
                    }
                }
                .stars{
                    .star{
                        color: rgb(219, 207, 37);
                    }
                }
                .btnbuy{
                    margin: 10px;
                    border: none;
                    color: white;
                    background-color: #2988c7;
                    border-radius: 10px;
                    padding: 10px;
                    font-size: 20px;
                    font-family: sans-serif;
                    font-weight: 700;
                    cursor: pointer;
                    transition: all 300ms;
                    &:hover{
                        background-color: #28a1f1;
                    }
                }
            }
        }
    }
}