@import "nav";
@import "categorias";
@import "productos";
@import "tableCarrito";
@import "home";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* scroll-website */

::-webkit-scrollbar {
    width: 8px;
    height: 6px;
}

::-webkit-scrollbar-thumb {
    background: #289be7;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #289be7;
}

::-webkit-scrollbar-track {
    background: #626262;
    border-radius: 0px;
    box-shadow: inset 0px 0px 0px 0px #f0f0f0;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    background-color: #cccaca;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    transition: .3 ease all;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(61, 101, 134, 0)), url(../img/fondoback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    &.dark{
        background-color: #333;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }
}