@import "nav";
@import "categorias";
@import "productos";


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #cccaca;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    transition: .3 ease all;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.924), rgba(11, 53, 88, 0.637)), url(../img/fondoback.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    background-size: cover;
    /* background-color: #cccaca;
    color: black;
    font-family: sans-serif;
    font-weight: 600;
    transition: .3 ease all; */
    &.dark{
        background-color: #333;
        color: white;
        font-family: sans-serif;
        font-weight: 600;
    }
}